# deps
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/

# env — never commit
.env
.env.local
.env.*.local

# prisma
prisma/migrations/*.sql

# OS
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/

# logs
*.log
npm-debug.log*

# misc
*.tsbuildinfo
next-env.d.ts
